@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Rental System</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent a Movie</h2>
      
        <p><a class="btn btn-default" href="/RentalRecords/Create">Rent Movie >></a></p>
    </div>
    <div class="col-md-4">
        <h2>Return a Movie</h2>
        <p><a class="btn btn-default" href="/RentalRecords/Index">Return Movie >></a></p>
    </div>
    <div class="col-md-4">
        <h2>View All Overdue Movies</h2>
        <p><a class="btn btn-default" href="#">Overdue Movies >></a></p>
    </div>
</div>